<h1>
    Messages in database
</h1>
<div>
    <div id="messagesinlist"></div>
    <table>
    <td>
        <tr *ngFor = "let message of messages">
           [{{message.id}}] {{message.text}}
        </tr>
    </td>
    </table>
</div>
<div>

    <input type="number" id="deletedid" placeholder="Which id you want to delete?">
    <button type="button" id="deleteidbutton" (click)="deleteId()">Delete this message</button><br>
    <button type="button" id="deletebutton" (click)="deleteList()">Delete all messages</button>
</div>
