<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/">Home  </a>
      <a class="nav-item nav-link" routerLink="/send">Send  </a>
      <a class="nav-item nav-link" routerLink="/receive">Receive</a>
  </div>
</nav>

<div class="jumbotron">
  <div class="container">
      <div class="row">
          <div class="col-sm-8 offset-sm-2">
              <router-outlet></router-outlet>
          </div>
      </div>
  </div>
</div>